@model IEnumerable<Budgeter.Models.CodeFirst.Transaction>

@{
    ViewBag.Title = "Index";
}

<h3>Transactions</h3>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-sm btn-success" })
            </p>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Manage</h4>
                </div>
                <section class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th>
                                    Account
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                 <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    Expense
                                </th>
                                <th>
                                    Income
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reconciled)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Amount)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BankAccount.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.Name)
                                    </td>
                                    <td>
                                        @item.Date.ToString("MM/dd/yyyy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @if (item.Type == true)
                                        {
                                            <i class="fa fa-times fa-1"></i>
                                        }
                                    </td>
                                    <td>
                                        @if (item.Type == false)
                                        {
                                            <i class="fa fa-times fa-1"></i>
                                        }
                                    </td>
                                    <td>
                                        @if (item.Reconciled == true)
                                        {
                                        <i class="fa fa-check fa-1"></i>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-success" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                                    </td>
                                </tr>
                            }

                        </table>
                        </div> 
                    </section> 
                </div> 
            </div> 
        </div> 
    </div> 
